@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Antic Slab', serif;
    margin: 0;
    padding: 0;
    background: url('phone.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    font-size: 18px;
    text-align: center;
    zoom: 1.2;
  
}

/* Сброс отступов и padding для всех элементов */
@media (max-width: 768px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Учитываем padding и border в ширине */
}
}

html, body {
    overflow-x: hidden; /* Запрещаем горизонтальную прокрутку */
    width: 100%; /* Ширина 100% */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
}

@media (max-width: 768px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        padding: 15px; /* Уменьшаем отступы для мобильных */
        margin-bottom: 15px; /* Уменьшаем отступы между карточками */
        max-width: calc(100% - 30px); /* Учитываем padding и margin */
        margin-left: 15px; /* Добавляем отступ слева */
        margin-right: 15px; /* Добавляем отступ справа */
    }

    .card1 h2, .card2 h2, .card3 h2, .card4 h2, .card5 h2, .card6 h2 {
        font-size: 20px; /* Уменьшаем размер заголовка */
    }

    .card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p {
        font-size: 16px; /* Уменьшаем размер текста */
    }
}

/* Стили для основного контейнера "О программе" */
.card1 {
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c1520cb; /* Красный фон */
    border: 2px solid #9c1520a9; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 20px;
}

.card2 {
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c1520cb; /* Красный фон */
    border: 2px solid #9c1520b4; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 10px;
}

.card2 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card2 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card4 {
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c1520cb; /* Красный фон */
    border: 2px solid #9c1520b4; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 60px;
    margin-top: 60px;
}

.card4 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card4 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}
.card3 {
    
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c1520cb; /* Красный фон */
    border: 2px solid #9c1520b4; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 10px;
    margin-top: 60px;
}

.card3 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card3 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}


.card5 {
    
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c1520cb; /* Красный фон */
    border: 2px solid #9c1520b4; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 10px;
    margin-top: 60px;
}

.card5 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card5 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}


.card6 {
    
    width: 100%; /* Ширина контейнера */
    max-width: 750px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: #9c15207c; /* Красный фон */
    border: 2px solid #9c15207c; /* Красная граница */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
    text-align: center; /* Центрирование текста */
    font-family: 'Montserrat', sans-serif; /* Шрифт */
    transition: all 0.3s ease; /* Плавные анимации */
    margin-bottom: 10px;
    margin-top: 60px;
}

.card6 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card6 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}


.card6 .inputGroup input,
.card6 .inputGroup textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #9c152079;
    border-radius: 5px;
    background-color: #ffffff79; /* Светлый фон для полей */
    color: #ffffff; /* Черный текст в полях */
    font-size: 16px;
}

.card6 .inputGroup label {
    color: #ffffff; /* Белый текст для лейблов */
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.card6 .checkbox-container {
    margin-bottom: 15px;
}

.card6 .checkbox-label {
    display: flex;
    align-items: center;
    color: #ffffff; /* Белый текст для чекбокса */
    font-size: 16px;
}

.card6 .custom-checkbox {
    margin-right: 10px;
}

.card6 .button-container {
    text-align: center;
}







.wide-block {
    width: 700px; /* Ширина блока */
    max-width: 100%; /* Ограничение ширины для мобильных устройств */
    margin: 0 auto; /* Центрирование */
}



.card1 h2 {
    margin: 0 0 10px 0; /* Отступ снизу */
    font-size: 24px; /* Размер заголовка */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

.card1 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 400; /* Обычный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

/* Стили для контейнера с информационными блоками */



















.info-blocks-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Минимальная ширина блоков */
    gap: 40px; /* Увеличенный отступ между блоками */
    margin-top: 20px;
    max-width: 900px; /* Немного увеличиваем контейнер */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-block {
    background: #9c152079;
    border: 2px solid #9c1520a9;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 100%;
}
.expand-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #9c1520;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.expand-btn:hover {
    background: #7f101a;
}
.extra-blocks {
    display: none;
    width: 100%;
    grid-column: span 2;
    justify-content: center; /* Центрируем внутри сетки */
}
.extra-blocks .info-block {
    width: 90%; /* Растягиваем вложенные блоки по ширине */
}


.full-width-block {
    max-width: 800px; /* Фиксированная ширина только для этого блока */
    width: 100%;
    margin: 0 auto; /* Центрирование */
}

.full-width-block .info-block {
    width: 100%; /* Растягиваем сам блок */
}

.full-width-block .extra-blocks .info-block {
    width: 100%; /* Дополнительные блоки тоже занимают всю ширину */
}

/* Адаптация на мобильных устройствах */
@media (max-width: 600px) {
    .full-width-block {
        max-width: 100%;
        padding: 10px;
    }
}























/* Стили для широкого блока */
.wide-block {
    width: 210%; /* Ширина блока (90% от родительского контейнера) */
    max-width: 800px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрирование */
}

.wide-block1 {
    width: 197%; /* Ширина блока (90% от родительского контейнера) */
    max-width: 800px; /* Ограничение максимальной ширины */
    margin: 0 auto; /* Центрирование */
}

/* Стили для текста внутри блоков */
.info-block p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}
.info-block1 p {
    margin: 0; /* Убираем отступы у текста */
    font-size: 18px; /* Размер текста */
    color: #fff; /* Белый текст */
    font-weight: 700; /* Жирный шрифт */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    letter-spacing: 0.5px; /* Расстояние между буквами */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .wide-block {
        width: 95%; /* Ширина блока на мобильных устройствах */
    }
}

.info-block:hover {
    background: #9C1520; /* Красный фон */
    border: 2px solid #9C1520; /* Красная граница */
    transform: translateY(-5px); /* Эффект поднятия при наведении */
    box-shadow: 0 8px 20px rgba(156, 21, 32, 0.5); /* Увеличенная тень */
}



/* Стили для текста с описанием */
.description {
    font-size: 6px; /* Уменьшенный размер текста */
    font-style: italic; /* Курсив */
    color: #fff; /* Белый текст */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для текста */
    margin-top: 10px; /* Отступ сверху */
    line-height: 1.4; /* Межстрочный интервал */
}


@media (max-width: 768px) {
    .card1, .info-blocks-container {
        width: 95%; /* Ширина контейнера для мобильных устройств */
        padding: 15px; /* Уменьшаем отступы */
    }

    .card1 h2 {
        font-size: 22px; /* Уменьшаем размер заголовка */
    }

    .card1 p {
        font-size: 16px; /* Уменьшаем размер текста */
    }

    .info-blocks-container {
        grid-template-columns: 1fr; /* 1 колонка для мобильных устройств */
        gap: 10px; /* Уменьшаем отступ между блоками */
    }

    .info-block {
        padding: 10px; /* Уменьшаем отступы внутри блоков */
    }

    .info-block p {
        font-size: 14px; /* Уменьшаем размер текста */
    }
}

/* Контейнер для выравнивания */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для чекбокса */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ff0000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.custom-checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #ff0000;
}

.checkbox-text {
    font-size: 14px;
    color: #333;
}

.checkbox-label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* Шапка и навигация */
header {
    background: url('phone.png') no-repeat center center;
    background-size: cover;
    color: #9C1520;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 30px;
}

.menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Скрываем на десктопе */
}

/* Обновленная навигация */
/* Навигация */
nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    background: transparent; /* Прозрачный фон */
    border-radius: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
}

/* Кнопки */
nav a {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #fff; /* Белый текст */
    border: 2px solid #9C1520; /* Красная граница */
    border-radius: 34px;
    background-color: #9C1520; /* Красный фон */
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

nav a::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #C63A4A; /* Темно-красный при ховере */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

nav a:hover::before {
    scale: 4; /* Полное покрытие */
}

nav a:hover {
    color: #fff; /* Цвет текста при наведении */
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(198, 58, 74, 0.4); /* Красная тень */
}

nav a:active {
    scale: 1;
}

.inputGroup {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ограничение ширины */
    margin: 0.2em 0;
}

.inputGroup input,
.inputGroup textarea {
    width: 100%;
    font-size: 16px; /* Размер текста */
    padding: 16px 12px; /* Отступы внутри поля */
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
    border-color: #9c152079; /* Цвет границы при фокусе */
}

.inputGroup label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%); /* Вертикальное центрирование текста */
    font-size: 16px; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    pointer-events: none; /* Не кликабельный текст */
    background-color: transparent; /* Убираем фон */
    padding: 0; /* Убираем отступы фона */
    transition: all 0.3s ease;
}

.inputGroup input:focus~label,
.inputGroup textarea:focus~label,
.inputGroup input:valid~label,
.inputGroup textarea:valid~label {
    top: -10px; /* Перемещаем текст над полем */
    font-size: 16px; /* Уменьшаем размер текста */
    color: #ffffff; /* Цвет текста при фокусе */
    background-color: transparent;
    padding: 0 6px;
}


a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
}

.img {
    width: 24px; /* Размер иконок */
    height: 24px; /* Размер иконок */
    vertical-align: middle; /* Выравниваем иконки по вертикали */
}





/* Основной контент */
.image-section {
    margin-top: 170px; /* Отступ для фиксированной шапки */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px; /* Фиксированная ширина */
    margin-left: auto;
    margin-right: auto;
}

.styled-image {
    width: 900px; /* Фиксированная ширина */
    max-width: 135%; /* Адаптивность */
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.styled-image1 {
    width: 830px; /* Фиксированная ширина */
    max-width: 100%; /* Адаптивность */
    height: auto;
    border-radius: 0px;
}

main {
    padding: 20px;
    max-width: 800px; /* Фиксированная ширина */
    margin: 0 auto;
}

/* Основной стиль для секций */
/* Основной стиль секции */
/* Основной стиль секции */
/* Основной контейнер для карточек */
.section {
	box-shadow: 0 4px 15px rgba(156, 21, 32, 0.4);
	border: 1px solid rgba(156, 21, 32, 0.2);
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 200, 200, 0.2));
	margin-bottom: 60px;
	padding: 20px;
	border-radius: 20px;
	font-size: 18px;
	width: 100%; /* Адаптивная ширина */
	max-width: 800px; /* Фиксированная ширина */
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	margin-top: 50px; /* Добавляем отступ для фиксированного заголовка */
	padding-top: 70px; 
}

.section h2 {
	color: #9C1520;
	margin-top: 0;
}

/* Добавьте в ваш файл style.css */
.social-icon {
    width: 24px; /* Размер иконок */
    height: 24px; /* Размер иконок */
    margin: 0 5px; /* Отступы между иконками */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
}

.social-icon:hover {
    opacity: 0.7; /* Эффект при наведении */
}

.icon-separator {
    margin: 0 10px; /* Отступы вокруг разделителя */
    color: #000; /* Цвет разделителя */
}

/* Кнопки */
.button {
    font-family: 'Montserrat', sans-serif;
	padding: 15px 30px;
	font-size: 18px;
	font-family: 'Antic Slab', serif;
	color: #fff;
	background-color: #9C1520;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 250px; /* Фиксированная ширина */
	height: 50px; /* Фиксированная высота */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.button:hover {
	background-color: #C63A4A;
	box-shadow: 0px 0px 15px rgba(156, 21, 32, 0.7);
	transform: scale(1.03);
}



form {
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Поля в столбик */
    align-items: center; /* Центрируем содержимое */
    gap: 20px; /* Отступы между элементами */
    width: 100%; /* Адаптивная ширина */
    max-width: 600px; /* Фиксированная ширина формы */
    margin: 0 auto; /* Центрируем форму */
    padding: 20px; /* Внутренние отступы */
    box-sizing: border-box; /* Включаем границы и отступы */
}


form label {
    display: block;
    margin-bottom: 5px;
    color: #9c152079;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Antic Slab', serif;
    box-sizing: border-box;
}

.button-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px;
    font-size: 18px;

    color: #fff;
    background-color: #9C1520;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button:hover {
    background-color: #C63A4A;
    box-shadow: 0px 0px 15px rgba(156, 21, 32, 0.7);
    transform: scale(1.03);
}


.button-container1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button1 {
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #9c15209d;
    border: 5px solid #ffffff8c;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button1:hover {
    background-color: #9C1520;
    box-shadow: 0px 0px 15px rgba(156, 21, 32, 0.7);
    transform: scale(1.03);
}

footer {
    background: #9c15205e;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #9C1520;
    width: 100%;
    box-sizing: border-box;
}

/* Мобильные стили */
/* Мобильные стили */
/* Мобильные стили */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Показываем гамбургер-меню */
        background: none;
        border: none;
        color: #9C1520; /* Красный цвет иконки */
        font-size: 30px; /* Увеличиваем размер иконки */
        cursor: pointer;
        margin-left: auto; /* Перемещаем иконку вправо */
    }

    nav {
        display: none; /* Скрываем меню по умолчанию */
        flex-direction: column;
        position: absolute;
        top: 120px; /* Отступ от шапки (увеличен для иконки ниже) */
        left: 50%;
        transform: translateX(-50%);
        width: 90%; /* Ширина меню */
        max-width: 300px; /* Максимальная ширина */
        background: rgba(156, 21, 32, 0.9); /* Красный фон меню */
        border-radius: 20px;
        padding: 10px;
    }
    a {
        text-decoration: none; /* Убираем подчеркивание у ссылок */
        margin: 0; /* Убираем отступы */
        padding: 0; /* Убираем внутренние отступы */
    }
    
    img {
        width: 24px; /* Размер иконок */
        height: 24px; /* Размер иконок */
        vertical-align: middle; /* Выравниваем иконки по вертикали */
    }

    nav.active {
        display: flex; /* Показываем меню при активации */
    }

    nav a {
        margin: 5px 0;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        background: #9C1520;
        border-radius: 20px;
        transition: all 0.3s ease;
    }

    nav a:hover {
        background-color: #C63A4A;
        box-shadow: 0px 0px 15px rgba(156, 21, 32, 0.7);
    }



    .image-section {
        margin-top: 120px; /* Уменьшен отступ */
    }

    .styled-image {
        width: 100%; /* Адаптивная ширина */
    }

    .section {
        width: 90%; /* Адаптивная ширина */
        padding: 15px;
        margin-bottom: 30px;
    }

    form {
        width: 90%; /* Адаптивная ширина */
    }

    .button {
        width: 100%; /* Адаптивная ширина */
        max-width: 250px;
    }
}